form.messageForm {
    width: 100%;
    display: flex;
    /*flex-flow: column;*/
    /*align-items: flex-end;*/
    /*align-items: center;*/
    gap: 10px;
    /*justify-content: space-around;*/
}

form.messageForm div {
    width: 100%;
}

.newMessageText {
    width: 98%;
    height: 25px;

    border: 1px solid rgba(255, 255, 255, 0.33);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    padding: 2px 5px;
    margin: 1px;
}

form.messageForm .submit {
    width: 50px;
    height: 32px;

    border-radius: 5px;
}
