.messageBlock {
   display: grid;
   grid-template-columns: 11fr 1fr;
   gap: 10px;
}

.messageInput {
   height: 20px;
   padding: 10px 15px;
   border-radius: 6px;
   line-height: 20px;

   background-color: antiquewhite;
   color: black;
   resize: none;
}

/* button.submit {
   border: none;
   background: none;
   background-image: url('https://icons-for-free.com/iconfiles/png/512/send+icon-1320185654900887696.png');
   background-size: contain;
   background-repeat: no-repeat;
} */
