.profile {
    display: flex;
}

.profile .avatar img {
    width: 100%;
    border-radius: 5px;
}

.profileInfo {
    width: 100%;
    padding: 0 15px;
    margin-left: 15px;
}

.commonInfo {
    border-bottom: 1px solid rgba(255, 255, 255, 0.33);;
}

.commonInfo h1 {
    padding: 0;
    margin: 0;
}

.contactRow {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: nowrap;
}

.contactLabel {
    width: 100%;
}

.contactValue {
    width: 100%;
}
