.item {
   color: antiquewhite;
   margin-bottom: 25px;

   display: grid;
   grid-template-columns: 50px 1fr;
   grid-template-areas: 'image content';
   gap: 10px;
}

.avatar {
   align-self: center;
}

.avatar img {
   grid-area: image;
   width: 50px;
   height: 50px;
   border-radius: 25px;
}

.content {
   grid-area: content;
   display: grid;
   grid-template-rows: 2fr 1fr;
   grid-template-areas: 'message' 'likes';

   border: 1px solid rgba(255, 255, 255, 0.33);
   border-radius: 5px;
}

.content .message {
   grid-area: message;
   padding: 10px;
   align-self: center;
}

.content .likes {
   grid-area: likes;
   align-self: center;
   text-align: right;
   margin-right: 10px;
}
