form.loginForm div label {
    display: block;
}

form.loginForm div {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 5px;
}

form.loginForm .checkbox {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

form.loginForm .checkbox input {
    margin: 0;
}

.errored {
    border: 2px solid red;
}

