.app-wrapper {
  display: grid;

  grid-template-rows: 60px 1fr;
  gap: 20px;

  grid-template-areas:
    "header"
    "content-wrapper";

    background-color: rgba(33, 33, 33, 0.33);
}

.app-wrapper .navbar-content-wrapper {
  grid-area: content-wrapper;
  display: grid;

  grid-template-columns: 2fr 10fr;
  gap: 15px;

  grid-template-areas:
    "nav content";

  margin: 0 150px;
  color: antiquewhite;
}

.app-wrapper .navbar-content-wrapper .content-wrapper {
  grid-area: content;

  background-color: rgba(33, 33, 33, 1);
  box-shadow: 2px 2px 10px rgb(33, 33, 33);

  border-radius: 5px;
  padding: 20px;
}